@-webkit-keyframes translate_opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  50% {
    opacity: 80%;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes translate_opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  50% {
    opacity: 80%;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main-content {
  height: 100%;
  width: 80%;
  max-width: 1600px;
  margin: auto;
  overflow-y: scroll;
}

.main-content .main-info {
  height: 100%;
}

.main-content .main-info .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  margin: auto;
}

.main-content .main-info .logo a {
  color: #48FFBD;
  font-size: 2.5em;
}

.main-content .main-info .align-item-center .text {
  -webkit-animation: 1s translate_opacity;
          animation: 1s translate_opacity;
}

.main-content .main-info .align-item-center .text .first-text {
  font-size: 3em;
  color: #E0E0E0;
  font-weight: bold;
  padding: 0.2em 0;
  -webkit-animation: 1s translate_opacity;
          animation: 1s translate_opacity;
}

.main-content .main-info .align-item-center .text .second-text {
  font-size: 1em;
  color: #E0E0E0;
  font-weight: lighter;
  padding: 0 0 2em 0;
}

.main-content .main-info .align-item-center .text .knowledges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.main-content .main-info .align-item-center .text .knowledges .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 0 0 2em 0;
}

.main-content .main-info .align-item-center .text .knowledges .list .list-item {
  text-align: center;
  list-style: none;
  padding: 1em;
  color: #E0E0E0;
  font-weight: bold;
  background: #1C1C1C;
  border-radius: 5px;
  -webkit-animation: 1s translate_opacity;
          animation: 1s translate_opacity;
}

.main-content .main-info .align-item-center .text .knowledges .list .list-item i {
  color: #48FFBD;
  font-size: 5em;
  padding: 0 0 0.1em 0;
}

.main-content::-webkit-scrollbar {
  width: 0;
}

.main-content::-webkit-scrollbar-thumb {
  opacity: 0;
}

@media screen and (max-width: 882px) {
  .main-content .main-info .logo {
    height: 10%;
  }
  .main-content .main-info .align-item-center {
    height: 70%;
  }
  .main-content .main-info .align-item-center .text .first-text {
    font-size: 1.5em;
  }
  .main-content .main-info .align-item-center .text .second-text {
    font-size: 0.8em;
  }
  .main-content .main-info .align-item-center .text .knowledges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-content .main-info .align-item-center .text .knowledges .list .list-item {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 562px) {
  .main-content .main-info .align-item-center .text {
    padding: 0 0 10em 0;
  }
  .main-content .main-info .align-item-center .text .knowledges {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content .main-info .align-item-center .text .knowledges .list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 438px) {
  .main-content .main-info .align-item-center .text .knowledges .list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .main-content .main-info .align-item-center .text .knowledges .list .list-item i {
    color: #48FFBD;
    font-size: 3em;
    padding: 0 0 0.1em 0;
  }
}
/*# sourceMappingURL=about.css.map */